{# Base template for RussBot pages #}
<!doctype html>
<html lang="en">
<head><title>{% block title %}{{pagetitle}}{% endblock %} – Wikimedia Toolforge</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="robots" content="noindex,nofollow" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="main.css") }}">
<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="style.css") }}">
{% block head %}{% endblock %}
</head>
<body>
<div id="content">{% block content %}{{pagecontent | safe}}{% endblock %}</div>
<div id="footer">
{% block footer %}
<p style="font-size:75%;">&copy; Copyright 2022-2024 by <a href="http://https://wikitech.wikimedia.org/wiki/User:Russell_Blau/">R. Blau</a>.</p>
{% endblock %}
</div>
</body>
</html>
