{# RussBot Common Backlinks page #}
{% extends "base.html" %}
{% block title %}Common backlinks{% endblock %}
{% block content %}
	<h1>Common links in articles linking to {{ g.title or "a specific page" }}</h1>
	<form id="cbform" method="get">
	<label for="cbtitle">Enter article title</label>
	<input type="text" name="title" id="cbtitle" value="{{ g.title }}" />
	<input id="cbgobutton" type="submit" />
	{% if g.invalid %}
		<div id="cbinvalidchars" title="Warning">Invalid characters in page title.</div></form>
	{% elif g.nopage %}
		<div id="cbnopage" title="Warning">Page
<span style="color: red">{{ g.title }}</span> does not exist.</div></form>
	{% elif g.title %}
		</form><br />
		<div id="cbintro" title="Intro">The following is a list of articles that are linked
from articles that also contain links to "{{ g.title }}:"<br/></div>
		<ol id="cbresults">
		{% for linking, count in g.results %}
			<li><a href="//en.wikipedia.org/wiki/{{ linking.title(as_url=True) }}">{{ linking.title() }}</a>&nbsp;({{count}})</li>
		{% endfor %}
		</ol>
	{% endif %}
{% endblock %}