{# RussBot Candidates for Speedy Deletion page #}
{% extends "base.html" %}
{% block head %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js" integrity="sha512-qzgd5cYSZcosqpzpn7zF2ZId8f/8CHmFKZ8j7mU4OUXTNRd5g+ZHBPsgKEwoqxCtdQvExE5LprwwPAgoicguNg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.widgets.min.js" integrity="sha512-dj/9K5GRIEZu+Igm9tC16XPOTz0RdPk9FGxfZxShWf65JJNU2TjbElGjuOo3EhwAJRPhJxwEJ5b+/Ouo+VqZdQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/css/theme.default.min.css" integrity="sha512-wghhOJkjQX0Lh3NSWvNKeZ0ZpNn+SPVXX1Qyc9OCaogADktxrBiBdKGDoqVUOyhStvMBmJQ8ZdMHiR3wuEq8+w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}
{% block title %}Candidates for speedy deletion{% endblock %}
{% block content %}
<h1>Current candidates for speedy deletion</h1>
<ul style="display:none">
{% for msg in errormsgs %}
<li>{{ msg }}</li>
{% endfor %}
</ul>
<p>As of {{ as_of }}, there are {{ csd_count }}
<a href="//en.wikipedia.org/wiki/Category:Candidates_for_speedy_deletion">
candidates for speedy deletion</a> on the English Wikipedia.</p>
<p><small>Click on the column headings to sort the table.</small></p>
<table id="csdtable" class="tablesorter" summary="Candidates for speedy deletion">
<thead>
<tr><th>Page</th>
    <th>Time since last edit</th>
    <th>Contested</th>
    <th>Reason(s)</th>
</tr>
</thead>
<tbody>
{% for row in datarows %}
<tr>
	<td><a href="//en.wikipedia.org/wiki/{{ row.pageurl }}">{{ row.title }}</a></td>
	<td><span style='display:none'>{{ row.timestamp }}</span>{{ row.age }}</td>
	<td>{% if row.contested %} Yes {% endif %}</td>
	<td>{% if row.reasons is string %}
	<b>{{ row.reasons }}</b>
	{% else %}
	{{ row.reasons | join("<br>" | safe) }}
	{% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table>
<script type="text/javascript">$(document).ready(function() { 
	$("#csdtable").tablesorter({textExtraction: {
        1: function (node) {
            return $(node).find('span').text();
        }
    }
} ); } );</script>
{% endblock %}