{# RussBot tool index page #}
{% extends "base.html" %}
{% block title %}RussBot Tools{% endblock %}
{% block content %}
<h2>RussBot tool index</h2>
<p>The following web tools are maintained by RussBot:</p>
<ol>
<li><a href="/csd">Candidates for speedy deletion</a></li>
</ol>
{% endblock %}

