{# RussBot Long Disambiguation Pages page #}
{% extends "base.html" %}
{% macro navbar() %}
<p>View ({% if offset > 0 %}<a href="{{ url_for('longdisambigs') }}?limit={{ limit }}&offset={{ offset - limit if offset > limit else 0 }}&dir={{ dir }}">previous {{ limit }}</a>) {% else %}previous {{ limit }}){% endif %}
{% if num == limit %}(<a href="{{ url_for('longdisambigs') }}?limit={{ limit }}&offset={{ offset + limit }}&dir={{ dir }}">next {{ limit }}</a>) {% else %} (next {{ limit }}) {% endif %}
(<a href="{{ url_for('longdisambigs') }}?limit=20&offset={{ offset }}&dir={{ dir }}">20</a> |
<a href="{{ url_for('longdisambigs') }}?limit=50&offset={{ offset }}&dir={{ dir }}">50</a> |
<a href="{{ url_for('longdisambigs') }}?limit=100&offset={{ offset }}&dir={{ dir }}">100</a> |
<a href="{{ url_for('longdisambigs') }}?limit=250&offset={{ offset }}&dir={{ dir }}">250</a> |
<a href="{{ url_for('longdisambigs') }}?limit=500&offset={{ offset }}&dir={{ dir }}">500</a>)</p>
{% endmacro %}
{% block head %}{#
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
#}{% endblock %}
{% block title %}{% if dir == "desc" %}Long{% else %}Short{% endif %} Disambiguation Pages{% endblock %}
{% block content %}
<div class="mediawiki ltr">
<h1>{% if dir == "desc" %}Long{% else %}Short{% endif %}est disambiguation pages</h1>
<p>{% if dir == "desc" %}Long{% else %}Short{% endif %}est disambiguation pages on the English Wikipedia as of {{ as_of }}. Replication lag is {{ replag }}.</p>
<p><a href="{{ url_for('longdisambigs') }}?limit={{ limit }}&offset={{ offset }}&dir={{ 'asc' if dir=='desc' else 'desc' }}">View {{ 'short' if dir=='desc' else 'long' }} pages</a>.</p>
{% if db_error %}<strong>We're sorry;</strong> the database is not responding at the moment. Please try again later.<br>
{% else %}<p>Showing below up to <b>{{ limit }}</b> results starting with #<b>{{ offset + 1 }}</b>.</p>
{{ navbar() }}
<table id="ldptable" summary="Disambiguation pages by length">
<thead>
<tr><th>Page</th><th>Length</th></tr>
</thead>
<tbody>
{% for pg in pagelist %}
<tr><td>{{ pg['count'] }}. <a href="//en.wikipedia.org/wiki/{{ pg['urltitle'] }}">{{ pg['title'] }}</a>&nbsp;</td>
<td style="text-align: end;">&nbsp;{{ pg['length'] }}</td></tr>
{% endfor %}
</tbody>
</table>
{{ navbar() }}
{% endif %}
</div>
{% endblock %}
