body {
	font-size: 10pt;
	font-family: Arial, sans-serif;
	background-color: #EEE;
	margin: 1px;
	padding: 0
}

/* To make IE act like FF */
form {
	margin: 0;
}

/* To make IE act like FF */
p {
	margin: .8em 0;
}

#content {
	margin: 0 1em;
	padding: 0 1em 1em 1em;
	background-color: #FFF;
	border: solid 1px #DDD;
	border-bottom: none;
}

#footer {
	margin: 0 1em 2em 1em;
	padding: 10px 1em 0 1em;
	border: solid 1px #DDD;
	background-color: #FFF;
	height: 30px;
}

#header {
	margin: 0 1em;
	padding: 4px 1em 4px 1em;
	border: solid 1px #DDD;
	border-bottom: none;
	background-color: #676;
	color: #EEE;
}

#header a {
	color: #EEE;
	text-decoration: none;
}

#header a:hover {
	text-decoration: underline;
}

code {
	font-family:Consolas,"Lucida Typewriter",Courier;
}

pre {
	margin-left:1em;
}

img {
	border: none;
	vertical-align: middle;
}

hr {
	height: 1px;
	color: #aaa;
	background-color: #aaa;
	border: 0;
	margin: .2em 0 .2em 0;
}

h1, h2, h3, h4, h5, h6 {
	color: black;
	background: none;
	font-weight: normal;
	margin: 0;
	padding-top: .5em;
	padding-bottom: .17em;
	border-bottom: 1px solid #aaa;
}
h1 { font-size: 188%; }
h2 { font-size: 150%; }
h3, h4, h5, h6 {
	border-bottom: none;
	font-weight: bold;
}
h3 { font-size: 132%;
	 margin: 5pt;
}
h4 { font-size: 116%; }
h5 { font-size: 100%; }
h6 { font-size: 80%;  }

/* Some space under the headers in the content area */
#content h1, #content h2 {
	margin-bottom: .6em;
}
#content h3, #content h4, #content h5 {
	margin-bottom: .3em;
}

a {
	text-decoration: none;
	color: #002bb8;
	background: none;
}
a:visited {
	color: #5a3696;
}
a:active {
	color: #faa700;
}
a:hover {
	text-decoration: none;
}
a:link, a:visited {
  text-decoration: none;
}

ul {
	line-height: 1.5em;
	list-style-type: square;
	margin: .3em 1.5em 0 1.5em;
	padding: 0;
	list-style-image: url(bullet.gif);
}

li {
	margin-bottom: .1em;
}

#tsbanner {
	float: right;
	position: relative;
	top: -6px;
}

table { 
	margin: 0;
}

.thumb { 
	float: left; 
	margin-right: 5pt 
}